<div class="container-fluid">
  <h4>Tiles</h4>
  <div class="col-lg-12">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="tile">
          <img src="../../img/icons/svg/compas.svg" alt="Compas" class="tile-image big-illustration">
          <h3 class="tile-title">Web Oriented</h3>
          <p>100% convertable to HTML/CSS layout.</p>
          <!-- <a class="btn btn-primary btn-large btn-block" href="http://designmodo.com/flat">Get Pro</a> -->
          <input tab-switches type="checkbox" data-toggle="switch" data-on-color="danger"/>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="tile">
          <img src="../../img/icons/svg/loop.svg" alt="Infinity-Loop" class="tile-image">
          <h3 class="tile-title">Easy to Customize</h3>
          <p>Vector-based shapes and minimum of layer styles.</p>
          <!-- <a class="btn btn-primary btn-large btn-block" href="http://designmodo.com/flat">Get Pro</a> -->
          <input tab-switches type="checkbox" data-toggle="switch" data-on-color="danger"/>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="tile">
          <img src="../../img/icons/svg/pencils.svg" alt="Pensils" class="tile-image">
          <h3 class="tile-title">Color Swatches</h3>
          <p>Easy to add or change elements. </p>
          <input tab-switches type="checkbox" data-toggle="switch" data-on-color="danger" />
        </div>
      </div>
    </div>

    <div class="pagination pagination-danger pull-right">
      <a href="#fakelink" class="btn btn-danger previous">
        <i class="fui-arrow-left"></i>
        OLDER
      </a>
      <ul>
        <li><a href="#fakelink">1</a></li>
        <li><a href="#fakelink">2</a></li>
        <li><a href="#fakelink">3</a></li>
        <li><a href="#fakelink">4</a></li>
      </ul>
      <a href="#fakelink" class="btn btn-danger next">
        NEWER
        <i class="fui-arrow-right"></i>
      </a>
    </div> <!-- /pagination -->
  </div>
</div>
