.addVoters {
  height: 100vh;
  background-color: #2c3e50;
}
.addVoters .navbar {
  margin: 0;
}
.addVoters .container {
  position: fixed;
  top: 35%;
  left: 35%;
  margin-top: -50px;
  margin-left: -100px;
}
.addVoters .center {
  position: fixed;
  top: 45%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}
.addVoters .center .inputHelpBlock {
  color: #fff;
}
.addVoters .center .btn {
  width: 100%;
}
.header .ion-ios-home {
  font-size: 24px;
}
.header ul:nth-child(2) .register {
  font-size: 2em;
}
.header ul:nth-child(2) .loginDropDown {
  font-size: 2em;
}
.header ul:nth-child(2) .logout {
  font-size: 2em;
}
.header ul:first-child {
  height: 58px;
}
.header ul:first-child li {
  height: 58px;
}
.header ul:first-child li a {
  height: 58px;
  padding-top: 18px;
}
.navbar {
  border-radius: 0;
}
@media (min-width: 768px) {
  .navbar-collapse .navbar-nav.navbar-left:first-child {
    margin-left: 0;
  }
  .navbar-collapse .navbar-nav.navbar-left:first-child > li:first-child a {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .navbar-collapse .navbar-nav.navbar-right:last-child>.dropdown:last-child>a {
    border-radius: 0;
  }
}
.navbar-fixed-top {
  border-radius: 1px;
}
.loginUserAccount .form-control {
  padding-left: 40px;
}
.loginUserAccount .form-group {
  position: relative;
  margin-bottom: 20px;
}
.loginUserAccount .form-group .col-xs-12 {
  padding: 0;
  margin-bottom: 20px;
}
.loginUserAccount .form-control + .glyphicon {
  position: absolute;
  left: 0;
  padding: 10px 12px;
}
.loginUserAccount .modal-footer {
  border-top: 0;
}
.loginUserAccount .modal-footer input {
  width: 100%;
}
.votersLogin {
  height: 100vh;
  background-color: #2c3e50;
}
.votersLogin .navbar {
  margin: 0;
}
.votersLogin .container {
  position: fixed;
  top: 35%;
  left: 35%;
  margin-top: -50px;
  margin-left: -100px;
}
.votersLogin .center {
  position: fixed;
  top: 45%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}
.votersLogin .center .inputHelpBlock {
  color: #fff;
}
.votersLogin .center .btn {
  width: 100%;
}
.main {
  background-color: #ecf0f1;
}
.main .submit {
  position: fixed;
  left: 0;
  top: 40%;
  z-index: 100;
}
.main .submit button {
  border-radius: 0;
}
.main .submit.ng-hide-add.ng-hide-add-active,
.main .submit.ng-hide-remove.ng-hide-remove-active {
  transition: all linear 0.5s;
}
@media screen and (min-width: 1024px) {
  .main .submit.ng-hide {
    position: fixed;
    top: 40%;
    left: 1024px;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
}
.main .row-centered {
  text-align: center;
}
.main .col-centered {
  display: inline-block;
  float: none;
/* reset the text-align */
  text-align: left;
/* inline-block space fix */
  margin-right: 0;
}
.main .frame {
  background-color: #e67e22;
}
.main .frame h5,
.main .frame p {
  color: #fff;
}
.main .nonTeaching {
  background-color: #e74c3c;
}
.main .nonTeaching h5,
.main .nonTeaching p {
  color: #fff;
}
.main .student {
  background-color: #d35400;
}
.main .student h5,
.main .student p {
  color: #fff;
}
.main .org {
  background-color: #c0392b;
}
.main .org h5,
.main .org p {
  color: #fff;
}
.main .teachingCategory {
  color: #e67e22;
}
.main .teachingCategory .label-default {
  background-color: #e67e22;
}
.main .nonTeachingCategory {
  color: #e74c3c;
}
.main .nonTeachingCategory .label-default {
  background-color: #e74c3c;
}
.main .studentCategory {
  color: #d35400;
}
.main .studentCategory .label-default {
  background-color: #d35400;
}
.main .orgCategory {
  color: #c0392b;
}
.main .orgCategory .label-default {
  background-color: #c0392b;
}
.orgCategory {
  margin-top: 20px;
}
.nonTeachingCategory {
  margin-top: 10px;
}
.nonTeachingCategory .nonTeaching input {
  margin-top: 10px;
}
.register .form-control {
  padding-left: 40px;
}
.register .form-group {
  position: relative;
  margin-bottom: 20px;
}
.register .form-group .col-xs-12 {
  padding: 0;
  margin-bottom: 20px;
}
.register .form-control + .glyphicon {
  position: absolute;
  left: 0;
  padding: 10px 12px;
}
.register .modal-footer {
  border-top: 0;
}
.register .modal-footer input {
  width: 100%;
}
.am-fade-and-scale {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
.am-fade-and-scale.ng-enter,
.am-fade-and-scale.am-fade-and-scale-add,
.am-fade-and-scale.ng-hide-remove,
.am-fade-and-scale.ng-move {
  -webkit-animation-name: fadeAndScaleIn;
  animation-name: fadeAndScaleIn;
}
.am-fade-and-scale.ng-leave,
.am-fade-and-scale.am-fade-and-scale-remove,
.am-fade-and-scale.ng-hide {
  -webkit-animation-name: fadeAndScaleOut;
  animation-name: fadeAndScaleOut;
}
.am-fade-and-scale.ng-enter {
  visibility: hidden;
  -webkit-animation-name: fadeAndScaleIn;
  animation-name: fadeAndScaleIn;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.am-fade-and-scale.ng-enter.ng-enter-active {
  visibility: visible;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
.am-fade-and-scale.ng-leave {
  -webkit-animation-name: fadeAndScaleOut;
  animation-name: fadeAndScaleOut;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.am-fade-and-scale.ng-leave.ng-leave-active {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
@-webkit-keyframes fadeAndScaleIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    -webkit-filter: none;
            filter: none;
  }
}
@keyframes fadeAndScaleIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    -webkit-filter: none;
            filter: none;
  }
}
@-webkit-keyframes fadeAndScaleOut {
  from {
    opacity: 1;
    -ms-filter: none;
    -webkit-filter: none;
            filter: none;
  }
  to {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
}
@keyframes fadeAndScaleOut {
  from {
    opacity: 1;
    -ms-filter: none;
    -webkit-filter: none;
            filter: none;
  }
  to {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
}
.studentCategory {
  margin-top: 20px;
}
.thankYou {
  height: 100vh;
  background-color: #e74c3c;
}
