
<div class="container-fluid main">
  <div class="submit" ng-show="!!nonTeaching || !!student || !!org">
    <a href="" ng-click="vm.votersSubmit()">
      <button type="submit" class="btn btn-success btn-lg">
        <i class="ion-thumbsup"></i>
         Submit
      </button>
    </a>
  </div>
  <section>
    <h2 class="text-center nonTeachingCategory">
      <span class="label label-default">NON-TEACHING CATEGORY</span>
    </h2>
    <div class="col-lg-12">
      <div class="row">
        <div class="col-md-4">
          <div class="tile nonTeaching">
            <img src="/img/victoria.jpg" class="img-rounded img-responsive">
            <h5 class="frame-title"></h5>
            <input tab-switches type="checkbox" data-name="nonTeaching" data-toggle="switch"
              data-on-color="primary" data-off-color="default" ng-model="nonTeaching"
              data-value="Ma. Victoria Pineda" data-category="nonTeaching"/>
          </div>
        </div>
        <div class="col-md-4">
          <div class="tile nonTeaching">
            <img src="/img/maricris.jpg" class="img-rounded img-responsive">
            <h5 class="frame-title"></h5>
            <input tab-switches type="checkbox" data-name="nonTeaching" data-toggle="switch"
              data-on-color="primary" data-off-color="default" ng-model="nonTeaching"
              data-value="Maricris Simbulan" data-category="nonTeaching"/>
          </div>
        </div>
        <div class="col-md-4">
          <div class="tile nonTeaching">
            <img src="/img/jocelyn.jpg" class="img-rounded img-responsive">
            <h5 class="frame-title"></h5>
            <input tab-switches type="checkbox" data-name="nonTeaching" data-toggle="switch"
              data-on-color="primary" data-off-color="default" ng-model="nonTeaching"
              data-value="Jocelyn Villavicencio" data-category="nonTeaching"/>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="col-lg-12">
      <div class="row row-centered">
        <div class="col-md-4 col-centered">
          <div class="tile nonTeaching">
            <img src="/img/jocelyn.jpg" class="img-rounded img-responsive">
            <h5 class="frame-title"></h5>
            <input tab-switches type="checkbox" data-name="nonTeaching" data-toggle="switch"
              data-on-color="primary" data-off-color="default" ng-model="nonTeaching"
              data-value="Jocelyn Villavicencio" data-category="nonTeaching"/>
          </div>
        </div>
      </div>
    </div> -->
  </section>

  <section>
    <h2 class="text-center studentCategory">
      <span class="label label-default">STUDENT CATEGORY</span>
    </h2>
    <div class="col-lg-12">
      <div class="row">
        <div class="col-md-3">
          <div class="tile student">
            <img src="/img/erica.jpg" class="img-rounded img-responsive">
            <h5 class="frame-title"></h5>
            <input tab-switches type="checkbox" data-name="student" data-toggle="switch"
              data-on-color="primary" data-off-color="default" ng-model="student" data-value="Erika Jeana Cariño"/>
          </div>
        </div>
        <div class="col-md-3">
          <div class="tile student">
            <img src="/img/carreon.jpg" class="img-rounded img-responsive">
            <h5 class="frame-title"></h5>
            <input tab-switches type="checkbox" data-name="student" data-toggle="switch"
              data-on-color="primary" data-off-color="default" ng-model="student" data-value="Jay Arcie Carreon"/>
          </div>
        </div>
        <div class="col-md-3">
          <div class="tile student">
            <img src="/img/cayanan.jpg" class="img-rounded img-responsive">
            <h5 class="frame-title"></h5>
            <input tab-switches type="checkbox" data-name="student" data-toggle="switch"
              data-on-color="primary" data-off-color="default" ng-model="student" data-value="Nikolai Cayanan"/>
          </div>
        </div>
        <div class="col-md-3">
          <div class="tile student">
            <img src="/img/tiglao.jpg" class="img-rounded img-responsive">
            <h5 class="frame-title"></h5>
            <input tab-switches type="checkbox" data-name="student" data-toggle="switch"
              data-on-color="primary" data-off-color="default" ng-model="student" data-value="Kathleen Kaye Tiglao"/>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2 class="text-center orgCategory">
      <span class="label label-default">ORGANIZATION CATEGORY</span>
    </h2>
    <div class="col-lg-12">
      <div class="row">
        <div class="col-md-3">
          <div class="tile org">
            <img src="/img/iiee.jpg" class="img-rounded img-responsive">
            <h5 class="frame-title">IIEE</h5>
            <input tab-switches type="checkbox" data-name="org" data-toggle="switch"
              data-on-color="primary" data-off-color="default" ng-model="org" data-value="IIEE"/>
          </div>
        </div>
        <div class="col-md-3">
          <div class="tile org">
            <img src="/img/jpia.jpg" class="img-rounded img-responsive">
            <h5 class="frame-title">JPIA</h5>
            <input tab-switches type="checkbox" data-name="org" data-toggle="switch"
              data-on-color="primary" data-off-color="default" ng-model="org" data-value="JPIA"/>
          </div>
        </div>
        <div class="col-md-3">
          <div class="tile org">
            <img src="/img/mansoc.jpg" class="img-rounded img-responsive">
            <h5 class="frame-title">MANSOC</h5>
            <input tab-switches type="checkbox" data-name="org" data-toggle="switch"
              data-on-color="primary" data-off-color="default" ng-model="org" data-value="MANSOC"/>
          </div>
        </div>
        <div class="col-md-3">
          <div class="tile org">
            <img src="/img/psme.jpg" class="img-rounded img-responsive">
            <h5 class="frame-title">PSME</h5>
            <input tab-switches type="checkbox" data-name="org" data-toggle="switch"
              data-on-color="primary" data-off-color="default" ng-model="org" data-value="PSME"/>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
