<section ng-include="'commons/headerAngelite.html'"></section>

<div class="container-fluid main">
  <section>
    <!-- <h5 class="text-center orgCategory">ORGANIZATION CATEGORY</h5> -->
    <h2 class="text-center orgCategory">
      <span class="label label-default">ORGANIZATION CATEGORY</span>
    </h2>
    <div class="col-lg-12">
      <div class="row row-centered">
        <div class="col-md-5 col-centered">
          <div class="tile org">
            <img src="/img/love.jpg" class="img-rounded img-responsive">
            <h5 class="frame-title">IIEE</h5>
            <input tab-switches type="checkbox" data-name="org" data-toggle="switch"
              data-on-color="primary" data-off-color="default" ng-model="org" data-value="IIEE"/>
          </div>
        </div>
        <div class="col-md-5 col-centered">
          <div class="tile org">
            <img src="/img/love.jpg" class="img-rounded img-responsive">
            <h5 class="frame-title">JPIA</h5>
            <input tab-switches type="checkbox" data-name="org" data-toggle="switch"
              data-on-color="primary" data-off-color="default" ng-model="org" data-value="JPIA"/>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="row row-centered">
        <div class="col-md-5 col-centered">
          <div class="tile org">
            <img src="/img/love.jpg" class="img-rounded img-responsive">
            <h5 class="frame-title">MANSOC</h5>
            <input tab-switches type="checkbox" data-name="org" data-toggle="switch"
              data-on-color="primary" data-off-color="default" ng-model="org" data-value="MANSOC"/>
          </div>
        </div>
        <div class="col-md-5 col-centered">
          <div class="tile org">
            <img src="/img/love.jpg" class="img-rounded img-responsive">
            <h5 class="frame-title">PSME</h5>
            <input tab-switches type="checkbox" data-name="org" data-toggle="switch"
              data-on-color="primary" data-off-color="default" ng-model="org" data-value="PSME"/>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
