<section ng-include="'commons/headerAngelite.html'"></section>

<div class="container-fluid main">
  <section>
    <h2 class="text-center teachingCategory">
      <span class="label label-default">TEACHING CATEGORY</span>
    </h2>
    <div class="col-lg-12">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="tile frame">
            <img src="/img/love.jpg" class="img-rounded img-responsive">
            <h3 class="frame-title">Joy Anne Evaristo</h3>
            <!-- <p>100% convertable to HTML/CSS layout.{{one}}</p> -->
            <input tab-switches type="checkbox" data-name="teaching" data-toggle="switch"
              data-on-color="primary" data-off-color="default" ng-model="teaching" data-value="one"/>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="tile frame">
            <img src="/img/love.jpg" class="img-rounded img-responsive">
            <h3 class="frame-title">Leah Manalang</h3>
            <!-- <p>Vector-based shapes and minimum of layer styles.</p> -->
            <input tab-switches type="checkbox" data-name="teaching" data-toggle="switch"
              data-on-color="primary" data-off-color="default" ng-model="teaching" data-value="two"/>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="tile frame">
            <img src="/img/love.jpg" class="img-rounded img-responsive">
            <h3 class="frame-title">Philip Joseph Sarmiento</h3>
            <!-- <p>Easy to add or change elements. </p> -->
            <input tab-switches type="checkbox" data-name="teaching" data-toggle="switch"
              data-on-color="primary" data-off-color="default" ng-model="teaching" data-value="three"/>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="row row-centered">
        <div class="col-lg-4 col-centered">
          <div class="tile frame">
            <img src="/img/love.jpg" class="img-rounded img-responsive">
            <h3 class="frame-title">Noraing Uy</h3>
            <!-- <p>Easy to add or change elements. </p> -->
            <input tab-switches type="checkbox" data-name="teaching" data-toggle="switch"
              data-on-color="primary" data-off-color="default" ng-model="teaching" data-value="four"/>
          </div>
        </div>
        <div class="col-lg-4 col-centered">
          <div class="tile frame">
            <img src="/img/love.jpg" class="img-rounded img-responsive">
            <h3 class="frame-title">Color Swatches</h3>
            <p>Easy to add or change elements. </p>
            <input tab-switches type="checkbox" data-name="teaching" data-toggle="switch"
              data-on-color="primary" data-off-color="default" ng-model="teaching" data-value="five"/>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
